.user-page-container {
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;

	.top-container {
		width: 1100px;

		.telemed-container {
			margin: 20px 0;
			padding-left: 10px;
			color: #01497C;
			font-weight: 600;

			a {
				color: inherit;
			}
		}

		.user-info-container{
			margin-top: 50px;
			display: flex;
			width: 1000px;
			justify-content: center;

			.user-img {
				margin-top: 20px;
			}

			.user-info {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-left: 80px;

				.submit-btn-container {
					display: flex;
					justify-content: flex-end;
					button {
						padding-right: 5px;
						color: #01497C;
						font-weight: 600;
						font-size: 12px;
						background: none;
						border: none;

						cursor: pointer;
						transition: all .2s linear;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				// h2 {
				// 	padding-right: 5px;
				// 	color: #01497C;
				// 	font-weight: 600;
				// 	font-size: 12px;
				// 	cursor: pointer;
				// 	transition: all .2s linear;

				// 	&:hover {
				// 		text-decoration: underline;
				// 	}
				// }


				.change-user-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 300px;
					margin: 5px 0;



					input {
						font-family: inherit;
						color: #01497C;
						font-weight: 600;
						margin: 5px 0;
						height: 25px;
						border: none;
						border-radius: 5px;
						padding-left: 10px;

						&::placeholder {
							font-size: 11px;
							font-weight: 300;
						}

						&:nth-of-type(2) {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	
	}

	.user-doc-list-header {
		margin: 50px 0;
		width: 1100px;
		height: 60px;
		background-color: white;
		display: flex;
		align-items: center;
		padding-left: 20px;
		border-radius: 10px;

		h2 {
			color: #01497C;
			font-weight: 600;
		}
	}

	@media (max-width: 1182px) {
		.top-container {
			max-width: 100vw;
			.telemed-container {
				max-width: 100vw;

				h3 {
					margin: 0 30px;
				}
			}

			.user-info-container {
				max-width: 100vw;
			}
		}

		.user-doc-list-header {
			max-width: 100vw;
		}
	}

	@media (max-width: 768px) {
		.top-container {
			.user-info-container {
				flex-direction: column;
				align-items: center;
				.user-img {
					margin: 0;
				}
				.user-info {
					margin: 0;
				}
			}
		}
	}
	@media (max-width: 480px) {
		h3 {
			font-size: 12px;
		}
		.user-doc-list-header {
			margin: 10px 0;
		}
	}
}