.distance-container {
	padding: 10px 0;
	background-color: white;
	max-height: 300px;
	overflow: scroll;
	max-width: 350px;
	position: absolute;
	top: 40px;
	left: 10;
	border-radius: 10px;
	color: #01497C;
}