.insurance-filter-aside {
	padding: 10px 0;
	background-color: white;
	max-height: 300px;
	overflow: scroll;
	max-width: 350px;
	border-radius: 10px;
	color: #01497C;
	cursor: pointer;
	padding: 1px 5px;
	transition: all .1s linear;

	.filter-insurance-aside {
		margin: 10px 5px 5px;
		width: 307px;
		font-family: inherit;
		background: white;
		border-radius: 10px;
		border: 1px solid #01497C;
		padding: 4px 18px;
		color: inherit;
		transition: all .2s linear;

		&:active, &:focus, &:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	.ins-filter-cont-aside {
		.insurance {
			padding: 1px 5px;
			transition: all .1s linear;

			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				cursor: pointer;
				border-radius: 10px;
				
			}
		}
	}

	.ins-plans-container-aside {
		padding: 0;
		margin: 0;
		dl {
			font-size: 12px;
			font-weight: 600;
			padding: 0;
			margin: 0;
			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				cursor: pointer;
				border-radius: 10px;
				
			}
		}
	}
}