.filter-container {
	height: 200px;

	.main-filter-btn {
		display: none;
		position: absolute;
		border-radius: 10px;
		width: 100px;
		top: 100px;
		left: 10px;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 25px;
			border: none;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.655);
			font-size: 13px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			color: #014F86;
			transition: all .2s linear;

			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}

		}

		@media (max-width: 991px) {
			gap: 22px;
		}

		@media (max-width: 768px) {
			width: 100px;
			top: 100px;
			left: 10px;
			display: block;
		}

		@media (max-width: 480px) {
			button {
				width: 100px;
				height: 20px;
				font-size: 12px;

				&:hover {
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					font-size: 13px;
					height: 24px;
				}
			}
		}
	}

	.div-drop-container {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 50px;
		margin-top: 60px;

		.div-drop {
			position: relative;
			height: 40px;

			.dropdown-btn {
				display: block;
				padding: 4px 12px 6px 12px;
				font-family: inherit;
				background: none;
				border: none;
				width: 100%;
				font-weight: 700;
				color: #023050;
				font-size: 18px;

				&:last-of-type {
					margin-right: 0;
				}

				&:hover {
					color: #5c85bf;
					cursor: default;
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}

		}

		@media (max-width: 1182px) {
			gap: 40px;
		}

		@media (max-width: 991px) {
			gap: 20px;

			.div-drop {
				height: 25px;

				.dropdown-btn {
					font-weight: 600;
					font-size: 16px;
					color: #014F86;
				}

			}
		}

		@media (max-width: 768px) {
			margin-top: 50px;
			display: block;
			background-color: rgba(255, 255, 255, 0.655);
			border-radius: 10px;
			width: 100px;

			.div-drop {
				height: 25px;

				.dropdown-btn {
					font-weight: 600;
					font-size: 12px;
					color: #014F86;
				}

			}


			.main-filter-btn {
				display: block;
			}

		}



	}

}

// @media (max-width: 1182px) {
		
// }
// @media (max-width: 991px) {
	
// }
// @media (max-width: 768px) {
	
// }

// @media (max-width: 480px) {
	
// }