.doc-list-page-container {
	width: 100vmax;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	position: relative;

	.doc-list-aside-left {
		padding-top: 5px;
		width: 350px;
		height: fit-content;
		background-color: rgba(255, 255, 255, 0.655);
		margin-right: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
	
	}

	.doc-list-aside-right {
		display: flex;
		align-items: center;
		flex-direction: column;

		.loader-doc-list {
			margin-top: 300px;
		}

		.doc-list-page-msg {
			width: 100%;
			height: 50px;
			background-color: white;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
	
			h2 {
				font-size: 13px;
				font-family: 'Barlow', sans-serif;
				font-weight: 600;
				color: #014F86;
			}
		}
		
		.search-doc-list {
			display: flex;
			height: fit-content;
			margin-bottom: 7px;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			font-family: 'Inter', sans-serif;
			text-decoration: underline;
			text-decoration-color: #EAE7DE;
			
		
			.doc-list-zip {
				text-align: center;
				color: #014F86;
				font-family: 'Inter', sans-serif;
				width: 110px;
				height: 30px;
				border-radius: 50px;
				border: 1px solid #014F86;
				background-color: white;
				font-size: 16px;
				font-size: 12px;
				margin-right: 10px;
				padding-left: 10px;
			
		
				&:hover {
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
		
			.doc-list-search {
				text-align: center;
				color: #014F86;
				font-family: 'Inter', sans-serif;
				text-align: start;
				width: 430px;
				margin-right: 0;
				height: 30px;
				border-radius: 50px;
				border: 1px solid #014F86;
				background-color: white;
				font-size: 16px;
				font-size: 12px;
				margin-right: 10px;
				padding-left: 20px;
				transition: all .2s linear;
			}
		
			.search-btn {
				margin-left: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 160px;
				height: 30px;
				border-radius: 50px;
				border: 1px solid #014F86;
				background-color: white;
				font-size: 14px;
				font-family: 'Barlow', sans-serif;
				font-weight: 600;
				color: #014F86;
				transition: all .2s linear;
			
				span {
					margin-left: 5px;
					text-decoration: none;
					
				}
			
				&:hover {
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
		}
	}

	.doc-list-filter-container {
		position: absolute;
		left: 252px;
		top: 10px;
		border-radius: 10px;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 25px;
			border: none;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.655);
			font-size: 13px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			color: #014F86;
			transition: all .2s linear;

			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				font-size: 14px;
				height: 26px;
			}

		}
	}
	@media (max-width: 1462px) {
		.doc-list-filter-container {
			z-index: 200;
			left: 100px;

			button {
				width: 110px;

				&:hover {
					background-color: transparent;
					box-shadow: none;
					font-size: 15px;
				}
			}
		}
	}
	@media (max-width: 1182px) {
		.doc-list-filter-container {
			top: 58px;
			left: 220px;

			button {
				font-size: 16px;
			}

		}

		.doc-list-aside-left {
			position: absolute;
			z-index: 100;
			width: 100%;
			background-color: rgba(19, 18, 18, 0.287);;
			margin-right: 0;
			display: flex;
			border-radius: 0;
			.aside {
				box-shadow: none;
				margin: 0;

				h2 {
					border: none;
					background-color: white;
					padding-left: 15px;
					margin-bottom: 0;
					padding-block: 10px;
				}
			}
		}
	}

	@media (max-width: 991px) {
		width: fit-content;

		.doc-list-filter-container {
			
			left: 220px;

			button {
				font-size: 16px;
				z-index: 2000;
			}

		}
	}

	@media (max-width: 768px) {
		.doc-list-aside-right {
			max-width: 100vw;
			.doc-big-container {
				max-width: 450px;
			}
		}
	}


}

