.ratings-container {
	padding: 10px 0;
	background: white;
	position: absolute;
	top: 40px;
	left: -140px;
	border-radius: 10px;
	color: #01497C;
	display: flex;
	justify-content: center;
	overflow: scroll;
	height: 80px;

	.star-container {
		margin: 10px 30px;
		display: flex;

		button {
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			font-weight: 500;

			.rating-text {
				color: #01497C;
				font-family: 'Barlow', sans-serif; 
				width: 30px;
			}

			.no-low {
				font-size: 12px;
				width: 70px;
			}
		}
		.on {
			color: #EEA230;
		}
		.off {
			color: #ccc;
		}
	}

	@media (max-width: 768px) {
		overflow: hidden;
		scroll: none;
		left: 110px;
		top: -25px;
		width: fit-content;
		height: 58px;
		align-items: center;

		.star-container {
	
			margin: 5px 10px;
			button {
				height: 50px;
				margin: 0;
			}

		}
	}
	@media (max-width: 480px) {
		left: 105px;
		top: -60px;
		width: 120px;
		height: fit-content;
		padding-block: 0;

		.star-container {
			width: 70px;
			flex-direction: column;
			align-items: center;

			button {
				height: 35px;
				width: 35px;

				span {
					font-size: 10px;
				}
			}
		}
	}
	
}

// @media (max-width: 1182px) {
		
// }
// @media (max-width: 991px) {
	
// }
// @media (max-width: 768px) {
	
// }

// @media (max-width: 480px) {
	
// }