.doc-preview-container {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 2px;
	padding-right: 2px;
	display: flex;
	// align-items: center;
	max-width: 1100px;
	background-color: white;
	border-radius: 10px;
	// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color:#01497C;

	&:last-of-type {
		margin-bottom: 0;
	}


	.doc-img-container-docp {
		margin: 30px 40px 0px 40px;
		display: flex;
		flex-direction: column;

		.network-container-docp {
			margin-top: 15px;
			display: flex;
			justify-content: center;
			align-items: center;

			.network-docp {
				font-size: 13px;
			}

			img {
				margin-right: 3px;
			}
		}
		
	}
	.doc-info-container-docp {
		margin: 20px 0 20px 0;
		width: 300px;

		.top-border-container {
			height: 85px;
			border-bottom: 1px solid #EAE7DE;

			h2 {
				cursor: pointer;
				font-size: 20px;
				font-weight: 500;
				margin: 0;
				padding: 0;

				&:hover {
					
					text-decoration: underline;
					text-decoration-color: #01497C;
				}
			}
			p {
				margin-block: 4px;
				font-size: 14px;
			}
	
			.ratings-doc-preview {
				display: flex;
				align-items: center;
				padding-bottom: 10px;

				img {
					width: 15px;
					height: 15px;
					margin-right: 5px;
				}

				p {
					cursor: pointer;
					display: inline-block;
					font-weight: 300;
	
					span {
						color: #979DAC;
					}
				}
	
			}
		}


		.gender-container-docp {
			margin-top: 20px;
			margin-right: 70px;
			display: flex;
			justify-content: space-between;
		

			.gender-bold {
				padding-top: 3px;
				font-weight: 600;
				font-size: 12px;

				p {
					margin-top: 10px;
					font-weight: 300;
					font-size: 13px;
				}
			}
		}
		
		.language-container-docp {
			span {
				font-weight: 600;
				font-size: 12px;
			}
			ul {
				max-height: 35px;
				overflow: scroll;
				scrollbar-color: #01497C;
				margin: 0;
				padding: 10px 0 0 25px;
				
				li {
					font-weight: 300;
					font-size: 13px;
				}
			}
		}
	}

	.doc-contact-container-docp {
		margin: 20px 0 20px 0;

		.location-container-docp {
			padding-right: 80px;
			padding-left: 20px;
			height: 85px;
			border-bottom: 1px solid #EAE7DE;
			border-left: 1px solid #EAE7DE;

			h3 {
				font-weight: 600;
				font-size: 12px;
			}

			p {
				max-width: 170px;
				font-weight: 300;
				font-size: 12px;
				margin: 3px 0 0 0;
			}

			.phone-docp {
				margin: 8px 0 0 0;

				span {
					font-weight: 600;
					font-size: 12px;
				}
			}
		}

		.facility-container-docp {
			padding: 23px 0 0 20px;
			max-width: 225px;
			h3 {
				font-weight: 600;
				font-size: 12px;
			}
			ul {
				margin: 0;
				padding: 10px 0 0 25px;
				
				li {
					font-weight: 300;
					font-size: 13px;
				}
			}

		}
	}
	
	

}