

.header {
	background-color: #01497C;

	.header-container {
		max-width: 1100px;
		height: 70px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;

		.header-left{
			display: flex;
			justify-content: space-between;
			align-items: center;
	
			h2 {
				display: block;
				margin-left: 10px;
				font-family: 'Ultra', serif;
				font-size: 20px;
			}
		}
		.header-right{
			display: flex;
			justify-content: space-between;
			position: relative;
			cursor: pointer;

			.my-profile-btn {
				margin-right: 30px;
				background: none;
				border: none;
				color: white;
				font-family: 'Barlow', sans-serif;
				font-weight: 600;
				&:hover {
					text-decoration: underline;
				}
			}
		
			span{
				font-family: 'Barlow', sans-serif;
				font-weight: 600;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}

		}
	}

	@media (max-width: 1182px) {
		.header-container {
			max-width: 970px;
			padding: 0 20px;
		}
	}
	@media (max-width: 991px) {
		.header-container {
			max-width: 750px;
			padding: 0 25px;
		}
	}
	@media (max-width: 768px) {
		.header-container {
			max-width: none;
			padding: 0 10px;
			font-size: 16px;
			
			.header-left {
				h2 {
					font-size: 16px;
				}
			}

			.header-right {
				span {
					font-size: 14px;
				}
			}
		}
	}

	@media (max-width: 480px) {
		.header-container {
			max-width: none;
			padding: 0 10px;

			.header-left {
				h2 {
					display: none;
				}
			}
		}
	}
	
}
