.hospital-search-container {
	padding: 10px 0;
	background-color: white;
	max-height: 300px;
	overflow: scroll;
	max-width: 350px;
	position: absolute;
	top: 40px;
	left: -130px;
	border-radius: 10px;
	color: #01497C;
	



	.hospital-input-container {
		margin: 0px 10px;
		font-size: 12px;
		
		.selected-hospital {
			display: inline-block;
			margin: 2px;
			max-width: fit-content;
			font-size: 10px;
			font-weight: 700;
			background-color: #E3EDFB;
			border-radius: 10px;
			padding: 1px 15px 2px 4px;
			position: relative;

			
			.cross-close {
				position: absolute;
				right: 2px;
				top: 1px;
				width: 10px;
				height: 10px;
				background-color: none;
				z-index: 10;
				cursor: pointer;
				transition: all .2s linear;

				&:hover {
					width: 11px;
					height: 11px;
				}
			}

			// &::after {
			// 	content:"\d7";
			// 	position: absolute;
			// 	right: 3px;
			// 	top: -1px;
			// 	display: block;
			// 	cursor: pointer;
			// }

		}

		// .filter-hospital-btn {
		// 	margin-left: 10px;
		// 	font-family: inherit;
		// 	background: white;
		// 	border-radius: 10px;
		// 	border: 1px solid #01497C;
		// 	padding: 4px 18px;
		// 	max-width: 95px;
		// 	color: #01497C;
		// 	font-weight: 500;
		// 	cursor: pointer;

		// 	&:hover, &:active {
		// 		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		// 	}
		// 	&:active {
		// 		padding: 5px 17px;
		// 	}
		// }

		.filter-hospital {
			margin-bottom: 5px;
			width: 307px;
			font-family: inherit;
			background: white;
			border-radius: 10px;
			border: 1px solid #01497C;
			padding: 4px 18px;
			color: inherit;
			transition: all .2s linear;

			&:active, &:focus, &:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
	}

	ul {
		li {
			padding: 1px 5px;
			transition: all .1s linear;

			&:hover {
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				cursor: pointer;
				border-radius: 10px;
				
			}
		}
	}

}