

.search-container {
	display: flex;
	margin-top: 200px;

	.input-search {
		height: 40px;
		border-radius: 50px;
		border: 1px solid #014F86;
		background-color: white;
		font-size: 12px;
	

		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}


	.home-page-zip {
		font-family: 'Inter', sans-serif;
		text-decoration: underline;
		text-decoration-color: #EAE7DE;
		color: #014F86;
		width: 160px;
		padding-left: 10px;
		text-align: center;
	
	}

	.home-page-search {
		font-family: 'Inter', sans-serif;
		text-decoration: underline;
		text-decoration-color: #EAE7DE;
		color: #014F86;
		width: 500px;
		margin-left: 20px;
		padding-left: 30px;
	}


	.search-btn {
		margin-left: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 160px;
		height: 40px;
		border-radius: 50px;
		border: 1px solid #014F86;
		background-color: white;
		font-size: 16px;
		font-family: 'Barlow', sans-serif;
		font-weight: 600;
		color: #014F86;
		transition: all .2s linear;
	
		span {
			margin-left: 5px;
			
		}
	
		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	@media (max-width: 1182px) {
		.input-search {
			height: 35px;
		}

		.home-page-search {
			width: 450px;
		}

		.home-page-zip {
			width: 120px;
		}

		.search-btn {
			height: 30px;
			width: 120px;
			font-size: 13px;
		}
	}
	@media (max-width: 991px) {
		margin-top: 125px;

		.input-search {
			height: 30px;
		}

		.home-page-search {
			width: 400px;
		}

		.home-page-zip {
			width: 120px;
		}

		.search-btn {
			height: 30px;
			width: 120px;
			font-size: 12px;
		}
	}
	@media (max-width: 768px) {
		margin-top: 100px;
		align-self: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.input-search {
			margin-left: 0;
			margin-bottom: 20px;
			padding-left: 5px;
			font-size: 12px;
		}

		.home-page-search {
			width: 300px;
			text-align: center;
			font-size: 12px;
		}

		.home-page-zip {
			font-size: 12px;
		}

		.search-btn {
			margin-left: 0; 
			font-size: 14px;
		}
	}

	@media (max-width: 480px) {
		margin-top: 100px;
		.home-page-search {
			width: 200px;
			font-size: 10px;
		}
		.home-page-zip {
			font-size: 10px;
		}

		.search-btn {
			font-size: 11px;
		}

	}
}




