.aside-filters-container {
	margin-top: 14px;
	display: flex;
	flex-direction: column;
	z-index: 200;

	.aside {
		width: 350px;
		margin-block: 10px;

		h2 {
			font-size: 13px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			color: #014F86;
			margin-bottom: 3px;
		}
	}

}